
:root {
    --title-shadow-l: rgb(255,255,150);
}

html {
    display: table;
    margin: auto;
}

body {
    padding: 3% 2% 3%;
    display: table-cell;
    vertical-align: middle;
    font-family: sans-serif;  
    font-size: 13px;
    margin: 0;
}

body, pre, code, p {
  overflow-wrap: break-word; 
}

code {
  word-break: break-all;
}

h1, h2 {
  margin: 0;
}

header {
  margin-bottom: 25px;
}

h1 {
  font-size: 60px;
}

hr {
  border: none;
  height: 1px;
}

h2 {
  margin-top: 27.5px;
  font-size: 27.5px;
}

a {
  text-decoration: none;
}

a:link {
  font-weight: 0;
}

menu {
  padding-left: 0;
  line-height: 1.5em;
}

p, pre, ul, ol, li, time {
  line-height: 25px;
}

ul, ol {
  padding: 0;
  margin-left: 25px;
}

li {
  padding-left: 5px;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0.75em 0;
}

pre {
  margin-left: 20px;
  padding-left: 20px;
}

time {
  display: block;
  text-align: right;
}

nav {
  padding-bottom: 15px;
  text-align: right;
  text-transform: uppercase;
}

footer {
  font-size: 11.5px;
  text-align: right;
  padding-top: 15px;
}


/* @media (prefers-color-scheme: light) { */

body {
    background-color: #F8F8F8;
}

h1 {
    text-shadow: 1px 1px var(--title-shadow-l), 
	    2px 2px var(--title-shadow-l), 
	    3px 3px var(--title-shadow-l),
	    4px 4px var(--title-shadow-l),
	    5px 5px var(--title-shadow-l),
	    6px 6px var(--title-shadow-l),
	    7px 7px var(--title-shadow-l);
}

hr {
    border-top: 1px dotted #000;
}

a {
    border-bottom: 1px #000 dotted;
}

a:link h1, a:visited h1 {
    color: #000;
}

a:visited {
    color: rgb(115,160,255);
}

a:hover, a:active {
    color: #999;
}

a:link {
    color: rgb(45,120,255);
}

li a {
    color: #000;
}

code, pre {
    background: #E8E8E8;
}

@media only screen and (min-width: 650px) {

    body {
        width: 650px;
    }
  
}

